<h1>
Our teas
</h1>

<% @teas.each_slice(3) do |three_teas| %>
<div class="row">

  <% three_teas.each do|tea| %>
  <div class="col-md-4"> 

  <div class="tea_listing">
  <h2><a href="/teas/<%= tea.id %>"><%= tea.name%>: <%= number_to_currency(tea.price) %></a></h2>
  <img class="thumbnail" src= <%= tea.image %> <br />
  <p><%= tea.friendly_updated_at %></p>
  <p><span class="intro">Description:</span> <%= tea.description %></p>
  <p><span class="intro">Rating:</span> <%= tea.stars %></p>
  
  </div>
  </div>
  <% end %>

</div>
<% end %>
