<h2 class="tea_listing_hed"><%= @tea.name %>: <%= number_to_currency(@tea.price) %> </h2>
<h3><%= @tea.stock_message %></h3>
<% @tea.images.each do |image| %>
<img src= <%= image.url %> alt=<%= image.description %> ><br />
<% end %>
<p><span class="intro"> <%= @tea.sale_item %></span> Tax: <%= number_to_currency(@tea.tax) %>; <%= number_to_currency(@tea.total) %> with tax</p>
<p><span class="intro">Description:</span> <%= @tea.description %></p>
<p><span class="intro">Brought to you by:</span> <%= @tea.supplier.name %>
<p><span class="intro">Rating:</span> <%= @tea.stars %></p>


<%= form_tag '/orders', method: :post do %>
  <div class="form-group">
    <%=label_tag :quantity, "Quanity" %>
    <%= text_field_tag :quantity, "" %>  
    <%= hidden_field_tag :tea_id, @tea.id %>
  </div>

  <div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <%= submit_tag "Buy Now" %>
  </div>
  </div>
<% end %>
<p>&nbsp;</p>
<h3>Reviews</h3>


<ul>


<p><a href="/teas/<%=@tea.id%>/edit">Edit this tea listing</a></p>
<%= link_to "Delete this tea listing", "/teas/#{@tea.id}", method: :delete %>
<!--<p><a href="/teas/<%=@tea.id%>">Delete this tea listing</a></p>

To delete something from a Link you have to use
the ruby code here rather than the href link OR
you can do 
<a rel="nofollow" data-method="delete" href="/teas/<%=@tea.id%>"> Delete this</a>
-->
<p><a href="/teas">Back to all Teas</a></p>
