<h1>Your order</h1>
<!-- <img src="<%= @order.tea.images[0].url %>">
 --><p> <span class="intro">What you bought:</span>
<%= @order.tea.name %></p>

<p> <span class="intro">Order ID:</span> <%= @order.id %></p>
<p><span class="intro">Quantity: <%= @order.quantity %></span></p>
<p><span class="intro">Subtotal: <%= @order.calc_subtotal %></span></p>
<p><span class="intro">Tax: <%= @order.calc_tax %></span></p>
<p><span class="intro">Total: <%= @order.calc_total %></span></p>