<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
  <title>Teashop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="jumbotron">
  <h1>Zeina's Tea F U</h1>
  <p></p>
  <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
--></div>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/teas">Home</a></li>
  <li role="presentation"><a href="/teas">Teas</a></li>
  <li role="presentation"><a href="/teas/new">Add new tea</a></li>
  <li role="presentation"><a href="/teas?discount=alldiscounted">Discount Items</a></li>
  <li role="presentation"><a href="/teas?random=rando">Random</a></li>
  <li role="presentation"><button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Sort
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="/teas?sort=price">Sort by price: lowest to highest</a></li>
    <li><a href="/teas?sort=price desc">Sort by price: highest to lowest</a></li>
<!--     <li role="separator" class="divider"></li>
 -->
  </ul>
</li>

</ul>
<div class="row">
    <div class="col-lg-6">
    <%= form_tag '/teas?search_for',  method: :get do %>
    <%= text_field_tag :search, "Search for...", class: "col-lg-6" %>
    <%= submit_tag "Submit" %>
    </div>
    <% end %>
</div>

<br />
<div id="main_page_container">

<% flash.each do |name, message| %>
  <div class="alert alert-<%= name %> alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</span><span class="sr-only">Close</span></button>
    <%= message.html_safe %>  
  </div>
<% end %>
<%= yield %>
</div>
</body>
</html>
