<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
  <title>Teashop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="jumbotron">
  <h1>Zeina's Tea F U</h1>
  <p></p>
  <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
--></div>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/teas">Home</a></li>
  <li role="presentation"><a href="/teas">Teas</a></li>
  <li role="presentation"><a href="/teas/new">Add new tea</a></li>
  <li role="presentation"><a href="/teas?discount=alldiscounted">Discount Items</a></li>
  <li role="presentation"><a href="/teas/random">Random</a></li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Sort by <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="/teas?sort=price&order=asc">Price: lowest to highest</a></li>
    <li><a href="/teas?sort=price&order=desc">Price: highest to lowest</a></li>
    </ul>
  </li>
  <% if current_user == nil%>
  <li role="presentation"><a href="/users/sign_up">Sign up</a></li>
  <li role="presentation"><a href="/users/sign_in">Sign in</a></li>
  <% else %>
  <li role="presentation"><%= link_to "Sign out", "/users/sign_out", method: :delete %>
  </li>
  <% end %>
  <li role="presentation">
    <%= form_tag '/teas?search_for#{:search}', class:"navbar-form navbar-left", method: :get do %>
    <%= text_field_tag :search, " ", class:"form-control" %>
    <%= submit_tag "Submit", class: "btn btn-default" %>
    <% end %>
  </li>
</ul>


<br />
<div id="main_page_container">

<% flash.each do |name, message| %>
  <div class="alert alert-<%= name %> alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</span><span class="sr-only">Close</span></button>
    <%= message.html_safe %>  
  </div>
<% end %>
<% if current_user%>
<p>Welcome <%= current_user.email %></p>
<% end %>
<%= yield %>
</div>
</body>
</html>
