<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
  <title>Teashop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="jumbotron">
  <h1>Zeina's Tea F U</h1>
  <p></p>
  <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
--></div>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/teas">Home</a></li>
  <li role="presentation"><a href="/teas">Teas</a></li>
  <li role="presentation"><a href="/teas/new">Add new tea</a></li>
  <li role="presentation"><a href="/teas?sort=price">Sort by price</a></li>


</ul>
<div class="row">

  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<br />
<div id="main_page_container">

<% flash.each do |name, message| %>
  <div class="alert alert-<%= name %> alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</span><span class="sr-only">Close</span></button>
    <%= message.html_safe %>  
  </div>
<% end %>
<%= yield %>
</div>
</body>
</html>
